{% extends 'main.html' %}
{% load static %}
{% block headcontent %}
    <title>Détails</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}
    <div class="container-principal">
        <div class="container-content">
            <div class="title">
                <h2 class="w3-text-blue-grey">{{post.title}}</h2>
                <i class='fa fa-calendar w3-text-blue-grey'></i>
                <span>date: {{post.created_on}}</span> | 
                <i class='fa-solid fa-person w3-text-blue-grey'></i>
                <span>auteur: {{post.author}}</span> |
                <i class='fas fa-comment-alt  w3-text-blue-grey'></i>
                <span>
                    {% with comments.count as total_comments  %}
                        {{total_comments}} commentaire{{total_comments|pluralize}}
                    {% endwith %}
                </span>
                {% if user.username == 'admin' %}
                <span class="w3-right">
                    <i class='fa fa-edit w3-text-blue-grey'></i><a href="{% url 'update' post.slug %}" class="w3-text-grey"><b>Modifier</b></a>
                    </span>
                {% endif %}
            </div>
            <div class="image">
                <img class="image-card" src="{{post.images.url}}" alt="Alps">
            </div>
            <div class="content-card">
                <p>{{post.content|safe}}</p>
                <hr>
            </div>
            <div class="content-comment">

                <h2 class="w3-text-blue-grey">Commantaires</h2>
                    {% if new_comment %}
                        <span> le commentaire a été envoyé </span>
                    {% else %}
                        <p>Ajouter nouveau un commentaire.</p>
                        <form method='POST' class="w3-container">
                            {% csrf_token %}
                            {{comment_form.as_p}}
                            <input class="w3-btn w3-blue-grey" type="submit" value="valider">
                        </form>
                    {% endif %}
               
                {% for comment in comments %}
                    <span>
                        {{comment.created}}
                    </span><br>
                    <span>* {{forloop.counter}} - {{comment.username}}</span>: {{comment.body}}<br>
                    {% empty %}
                    <span>
                        pas de commmaire
                    </span><br>
                {% endfor %}
                <hr>
            </div>
        </div>
        <div class="container-aside" >
            <div class="w3-card-4">

                <header class="gray-color">
                    <p class="w3-padding w3-blue-grey"><b>Catégorie</b></p>
                </header>
                
                <div class="w3-container">
                    {% for post in posts %}
                        {% if post.published %}
                            <p><a href="{% url 'details' post.slug %}">{{post.title}}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
