{% extends 'main.html' %}
{% load static %}
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'css/update_post.css' %}">
    <title>modifier un article</title>
{% endblock %}
    
{% block content %}
<h3 class="w3-center">Modifier l'article</h3> 
    <div class="container-updatepost" >
        <form method='POST' action="." enctype="multipart/form-data" class="w3-container">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <input class="w3-btn w3-green" type="submit" value="modifier">
        </form>
        
    </div>
{% endblock %}