{% extends 'main.html' %}
{% load static %}

{% block headcontent %}
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="w3-container" style="padding: 10px;">
    <span class="w3-text-blue-grey" style="" ><u class="w3-text-blue-grey">Dashboard des Articles</u></span>
    <span class="w3-right" style="display: flex;margin: 0;padding: 0;">
        <input style="width: 200px;" class="w3-input w3-border w3-round w3-padding" type="text" placeholder="Recherche">
        <button class="w3-button w3-round w3-blue-grey">Go!</button>
    </span>
    <table class="w3-table w3-striped w3-centered" style="margin-top: 5px;">
      <tr>
        <td>#Id</td>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date</th>
        <th>Publié</th>
        <th>Mise à jour</th>
        <th>Corbeille</th>
      </tr>
      {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.author_or_default }}</td>
            <td>{{ post.created_on|date:'j F Y' }}</td>
            <td>{{ post.published }}</td>
            <td><a href="{% url 'update' post.slug %}" class="w3-button w3-blue w3-round">Modifier</a></td>
            <td><a href="{% url  'delete' post.slug %}" class="w3-button w3-red w3-round">Supprimer</a></td>
        </tr>
    {% endfor %}
      
    </table>
  </div>

<br>
<div class="w3-bar pagination  w3-center">
    <span class="step-links ">
        {% if posts.has_previous %}
            <a class="w3-button" href="?page=1#articles">&laquo; premier</a>
            <a class="w3-button" href="?page={{ posts.previous_page_number }}#article">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a class="w3-button" href="?page={{ posts.next_page_number }}#article">suivant</a>
            <a class="w3-button" href="?page={{ posts.paginator.num_pages }}#article">dernier &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}